body{
    background-color: #FFBE58;
}

.welcome-user{
    margin-top: 16rem;
    color:rgb(3,54,61);
    font-family: Inter, sans-serif;
    font-weight:400;
    font-size: 4rem;
    line-height: 16px;
    margin-left: 3rem;
}

.sign-up{
    margin-top: 5rem;
    align-items: center;
    border-radius: 10px;
    /*border-color: white;*/
    border: solid;
    padding: 10px 20px;
    height: 420px;
    width: 240px;
    background-color: #FFBE58;

}

.user-input{
    border-radius: 10px;
    border: solid gray;
    box-shadow: none;
    height: 2rem;
    margin-bottom: 2rem;
}

.all{
    display: flex;
    gap: 17rem;
}